.calculator {
    width: 470px;
    height: 630px;
    background-color: #151414;
    border-radius: 20px;
    margin: 100px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.display {
    color: white;
    padding-right: 13px;
    font-size: 70px;
    text-align: end;
    padding-top: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    border: none;
    color: white;
    border-radius: 50px;
    padding: 28px 30px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(128, 128, 128, 0.372);
    outline: none;
}

.zero-btn {
    grid-column: span 2;
    padding: 30px 20px;
    outline: none;
}

.btn-grey {
    background-color: grey;
}

.btn-orange {
    background-color: orange;
}